:root {
    /* ===== Colors ===== */
    --primary-color: #0eb649;
    --secondary-color: #6255A5;
    --font-color-basic: #888391;
    --font-color-header: #423960;
    --font-color-nav: #473F64;
    --background-color: #FEFEFE;
    --background-color-darker: #F7F6F9;
    --background-color-nav: #FFFFFF;
    
    /* ===== Font Sizes ===== */
    --font-size-sm: clamp(0.8rem, 0.05vw + 0.79rem, 0.84rem);
    --font-size-base: clamp(1rem, 0.13vw + 0.97rem, 1.13rem);
    --font-size-md: clamp(1.25rem, 0.26vw + 1.18rem, 1.5rem);
    --font-size-lg: clamp(1.56rem, 0.46vw + 1.45rem, 2rem);
    --font-size-xl: clamp(1.95rem, 0.75vw + 1.77rem, 2.66rem);
    --font-size-xxl: clamp(2.44rem, 1.17vw + 2.15rem, 3.55rem);
    --font-size-xxxl: clamp(3.05rem, 1.77vw + 2.61rem, 4.73rem);
    --font-size-xxxxl: clamp(3.81rem, 2.63vw + 3.16rem, 6.31rem);

    /* ===== Transitions ===== */
    --transition-fast: all 0.25s;
    --transition-basic: all 0.5s;
    --transition-slow: all 1s;
}

/* ===== General ===== */
* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 400; color: var(--font-color-basic);
    scroll-behavior: smooth;
}
body {
    background-color: var(--background-color);
}
header {
    width: 100%; height: fit-content;
    display: flex; flex-direction: row; align-items: center; justify-content: center;
}
section {
    width: 100%; height: fit-content; padding: 75px 10% 25px 10%;
    display: flex; flex-direction: column; align-items: center; justify-content: flex-start;
}
section.darker {
    background-color: var(--background-color-darker);
}

/* ===== Headers & Text ===== */
h1 {
    font-size: var(--font-size-xxxxl); font-weight: 700; color: var(--font-color-header);
}
h2 {
    font-size: var(--font-size-xxl); font-weight: 600; color: var(--font-color-header); opacity: 0.75;
}
h3 {
    width: 100%; max-width: 650px; padding-bottom: 5px;
    border-bottom: 2px solid; border-image: linear-gradient(to right, transparent, var(--primary-color), transparent) 1;
    text-align: center;
    font-size: var(--font-size-xxl); font-weight: 600; color: var(--font-color-header);
}
h4 {
    font-size: var(--font-size-lg); font-weight: 500; color: var(--font-color-header); opacity: 0.85;
}
h5 {
    font-size: var(--font-size-md); font-weight: 500;
}
h6 {
    font-size: var(--font-size-md); font-weight: 500;
}
p, a {
    font-size: var(--font-size-base); font-weight: 400;
}
p.introduction {
    width: 100%; max-width: 1080px; margin: 25px 0 50px 0;
    text-align: center;
}
strong {
    font-weight: 600;
}
i {
    color: inherit;
}

/* ===== Buttons ===== */
.btn {
    width: fit-content; height: fit-content; padding: 5px 15px; gap: 10px;
    display: flex; flex-direction: row; align-items: center; justify-content: center;
    transform: scale(1); transform-origin: center;
    border-radius: 15px;
    font-size: 1rem; text-decoration: none;
    transition: var(--transition-fast); cursor: pointer;
}
.btn:not(.btn.submit):hover {
    transform: scale(1.05);
}
.btn.solid, .btn.transparent:hover, .main-header .btn.transparent:hover {
    border: 1px solid var(--primary-color);
    color: white; background-color: var(--primary-color);
}
.btn.transparent, .btn.solid:hover, .btn.submit:hover {
    border: 1px solid var(--font-color-basic);
    color: var(--font-color-basic); background: none;
}
.main-header .btn.transparent, .main-header .btn.solid:hover {
    border: 1px solid var(--font-color-nav);
    color: var(--font-color-nav); background: none;
}
.btn.submit {
    width: 100%; height: fit-content; padding: 10px 32px;
    border: 1px solid var(--primary-color); border-radius: 5px;
    color: white; background-color: var(--primary-color);
}

/* ===== Links ===== */
a {
    color: var(--primary-color);
}

/* ===== Sections ===== */

/* Home */
section.home {
    height: 500px; margin-top: var(--navbar-height); padding: 25px 8%;
    flex-direction: row; align-items: flex-end; justify-content: flex-start;
    background-attachment: fixed; background-position: center; background-size: cover; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
section.home .content {
    width: 100%; height: 100%;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}
section.home h1, section.home h2 {
    text-align: center;
}
section.home .image {
    width: 0; height: 100%; overflow: hidden;
    display: flex; flex-direction: row; align-items: center; justify-content: center;
}
section.home.img .content {
    width: 100%; min-width: 550px;
    align-items: flex-start;
}
section.home.img .image {
    width: 100%; max-width: 500px;
}
section.home.img .image img {
    width: 100%;
}
@media all and (max-width: 1080px) {
    section.home {
        height: 400px;
        background-position: right;
    }
    section.home .content {
        justify-content: center;
    }
    section.home.img .content {
        width: 100%; min-width: 100%;
        align-items: center;
    }
    section.home .image, section.home img {
        width: 0;
        display: none;
    }
}

/* Boxes */
.box-container {
    width: 100%; height: fit-content; padding: 50px 0; gap: 25px 50px;
    display: flex; flex-direction: row; flex-wrap: wrap; align-items: flex-start; justify-content: center;
}
.box-container .box {
    width: 100%; max-width: 275px; height: fit-content; min-height: 275px; padding: 0 10px 10px 10px;
    display: flex; flex-direction: column; align-items: center; justify-content: flex-start;
    border-radius: 20px 10px;
    color: #FFFFFF;
    background-color: var(--primary-color);
}

/* Comments */
:root {
    --comment-picture-width: 50px;
}
.comment-container {
    width: 100%; max-width: 800px; height: fit-content; padding: 50px 0; gap: 25px;
    display: flex; flex-direction: column; align-items: center; justify-content: flex-start;
}
.comment-container .comment {
    width: 100%; height: fit-content; padding: 10px; gap: 20px;
    display: flex; flex-direction: row; align-items: flex-start; justify-content: center;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent, rgb(224, 224, 224), transparent) 1;
}
.comment-container .img-container, .comment-container .report-btn-container {
    width: var(--comment-picture-width); height: fit-content;
    display: flex; flex-direction: row; align-items: flex-start; justify-content: center;
}
.comment-container .img-container img {
    width: var(--comment-picture-width);
    border-radius: 50%;
}
.comment-container .content {
    width: calc(100% - 2 * var(--comment-picture-width)); height: fit-content;
    display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;
}
.comment-container .name {
    margin-bottom: 5px;
    font-weight: 600; color: var(--font-color-header);
}
.comment-container .rating {
    margin-bottom: 15px; gap: 0 10px;
    display: flex; flex-wrap: wrap; align-items: center;
}
.comment-container .rating i {
    font-size: 0.8rem;
    color: gold;
}
.comment-container .buttons {
    margin: 10px; gap: 0 15px;
    display: flex;
}
.comment-container .buttons span {
    gap: 0 5px;
    display: flex; align-items: center;
}
.comment-container .buttons span:hover i {
    color: var(--font-color-header);
    transition: var(--transition-fast); cursor: pointer;
}
.comment-container .report-btn-container {
    font-size: 1.5rem;
}
.comment-container .report-btn {
    width: 32px; height: 32px;
    display: flex; flex-direction: row; align-items: center; justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    transition: var(--transition-basic); cursor: pointer;
}
.comment-container .report-btn:hover {
    background-color: var(--background-color-darker);
}
@media all and (max-width: 650px) {
    :root {
        --comment-picture-width: 40px;
    }
    .comment-container .comment {
        gap: 10px;
    }
}